In [8]:
import pandas as pd
from config import engine

df_orders = pd.read_sql("SELECT * FROM orders", engine) #df eh dataframe
print(df_orders.shape) #retorna número de linhas e colunas
print(df_orders.head()) # retorna 5 primeiros registros
print(df_orders.info()) # retorna informações gerais como tipo
print(df_orders.describe())

(99441, 8)
                           order_id                       customer_id  \
0  e481f51cbdc54678b7cc49136f2d6af7  9ef432eb6251297304e76186b10a928d
1  53cdb2fc8bc7dce0b6741e2150273451  b0830fb4747a6c6d20dea0b8c802d7ef
2  47770eb9100c2d0c44946d9cf07ec65d  41ce2a54c0b03bf3443c3d931a367089
3  949d5b44dbf5de918fe9c16f97b45f8a  f88197465ea7920adcdbec7375364d82
4  ad21c59c0840e6cb83a9ceb5573f8159  8ab97904e6daea8866dbdbc4fb7aad2c

  order_status order_purchase_timestamp   order_approved_at  \
0    delivered      2017-10-02 10:56:33 2017-10-02 11:07:15
1    delivered      2018-07-24 20:41:37 2018-07-26 03:24:27
2    delivered      2018-08-08 08:38:49 2018-08-08 08:55:23
3    delivered      2017-11-18 19:28:06 2017-11-18 19:45:59
4    delivered      2018-02-13 21:18:39 2018-02-13 22:20:29

  order_delivered_carrier_date order_delivered_customer_date  \
0          2017-10-04 19:55:00           2017-10-10 21:25:13
1          2018-07-26 14:31:00           2018-08-07 15:27:45
2          2018-08-08 13:50:00           2018-08-17 18:06:29
3          2017-11-22 13:39:59           2017-12-02 00:28:42
4          2018-02-14 19:46:34           2018-02-16 18:17:02

  order_estimated_delivery_date
0                    2017-10-18
1                    2018-08-13
2                    2018-09-04
3                    2017-12-15
4                    2018-02-26
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99441 entries, 0 to 99440
Data columns (total 8 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   order_id                       99441 non-null  object
 1   customer_id                    99441 non-null  object
 2   order_status                   99441 non-null  object
 3   order_purchase_timestamp       99441 non-null  datetime64[ns]
 4   order_approved_at              99281 non-null  datetime64[ns]
 5   order_delivered_carrier_date   97658 non-null  datetime64[ns]
 6   order_delivered_customer_date  96476 non-null  datetime64[ns]
 7   order_estimated_delivery_date  99441 non-null  datetime64[ns]
dtypes: datetime64[ns](5), object(3)
memory usage: 6.1+ MB
None
            order_purchase_timestamp              order_approved_at  \
count                          99441                          99281
mean   2017-12-31 08:43:12.776581120  2017-12-31 18:35:24.098800128
min              2016-09-04 21:15:19            2016-09-15 12:16:38
25%              2017-09-12 14:46:19            2017-09-12 23:24:16
50%              2018-01-18 23:04:36            2018-01-19 11:36:13
75%              2018-05-04 15:42:16            2018-05-04 20:35:10
max              2018-10-17 17:30:18            2018-09-03 17:40:06

        order_delivered_carrier_date  order_delivered_customer_date  \
count                          97658                          96476
mean   2018-01-04 21:49:48.138278656  2018-01-14 12:09:19.035542272
min              2016-10-08 10:34:01            2016-10-11 13:46:32
25%    2017-09-15 22:28:50.249999872  2017-09-25 22:07:22.249999872
50%              2018-01-24 16:10:58     2018-02-02 19:28:10.500000
75%              2018-05-08 13:37:45  2018-05-15 22:48:52.249999872
max              2018-09-11 19:48:28            2018-10-17 13:22:46

       order_estimated_delivery_date
count                          99441
mean   2018-01-24 03:08:37.730111232
min              2016-09-30 00:00:00
25%              2017-10-03 00:00:00
50%              2018-02-15 00:00:00
75%              2018-05-25 00:00:00
max              2018-11-12 00:00:00

In [9]:
print(df_orders.duplicated().sum()) #contar duplicatas

0

In [11]:
import pandas as pd
from config import engine

df_orders_pay = pd.read_sql("SELECT * FROM order_payments", engine) #df eh dataframe
print(df_orders_pay .shape) #retorna número de linhas e colunas
print(df_orders_pay .head()) # retorna 5 primeiros registros
print(df_orders_pay .info()) # retorna informações gerais como tipo
print(df_orders_pay .describe())
print(df_orders_pay .count())

(103886, 5)
                           order_id  payment_sequential payment_type  \
0  b81ef226f3fe1789b1e8b2acac839d17                   1  credit_card
1  a9810da82917af2d9aefd1278f1dcfa0                   1  credit_card
2  25e8ea4e93396b6fa0d3dd708e76c1bd                   1  credit_card
3  ba78997921bbcdc1373bb41e913ab953                   1  credit_card
4  42fdf880ba16b47b59251dd489d4441a                   1  credit_card

   payment_installments  payment_value
0                     8             99
1                     1             24
2                     1             66
3                     8            108
4                     2            128
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 103886 entries, 0 to 103885
Data columns (total 5 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   order_id              103886 non-null  object
 1   payment_sequential    103886 non-null  int64
 2   payment_type          103886 non-null  object
 3   payment_installments  103886 non-null  int64
 4   payment_value         103886 non-null  int64
dtypes: int64(3), object(2)
memory usage: 4.0+ MB
None
       payment_sequential  payment_installments  payment_value
count       103886.000000         103886.000000  103886.000000
mean             1.092679              2.853349     154.109745
std              0.706584              2.687051     217.496151
min              1.000000              0.000000       0.000000
25%              1.000000              1.000000      57.000000
50%              1.000000              1.000000     100.000000
75%              1.000000              4.000000     172.000000
max             29.000000             24.000000   13664.000000
order_id                103886
payment_sequential      103886
payment_type            103886
payment_installments    103886
payment_value           103886
dtype: int64

In [14]:
print(df_orders_pay['payment_type'].value_counts())

print(df_orders_pay['payment_type'].value_counts(normalize=True)*100) #porcentagem

payment_type
credit_card    76795
boleto         19784
voucher         5775
debit_card      1529
not_defined        3
Name: count, dtype: int64
payment_type
credit_card    73.922376
boleto         19.043952
voucher         5.558978
debit_card      1.471806
not_defined     0.002888
Name: proportion, dtype: float64

ValueError: could not convert string to float: 'b81ef226f3fe1789b1e8b2acac839d17'